* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html,
body {
  background: #192346;
  color: #FFF;
  font-size: 1.5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase; }

.box {
  display: flex;
  flex-direction: column;
  border: 5px solid #4C5F7F;
  border-radius: 20px;
  margin: 5% 25%;
  padding: 1rem; }
  .box .rock,
  .box .paper,
  .box .scissors {
    flex-grow: 1;
    display: flex;
    align-items: center;
    font-weight: 700; }
    .box .rock.rocks,
    .box .paper.rocks,
    .box .scissors.rocks {
      margin-top: 1rem; }
    .box .rock.scissors,
    .box .paper.scissors,
    .box .scissors.scissors {
      margin-bottom: 1.5rem; }
  .box .card-score {
    background-color: #FAFAFA;
    color: #514F5D;
    border-radius: 5px;
    padding: 35px 50px; }
    .box .card-score .score-title {
      font-size: 26px;
      font-weight: 600;
      color: #B5B8C7;
      text-align: center; }
    .box .card-score:last-child {
      margin-top: -22%;
      margin-left: auto; }
    .box .card-score .score p {
      font-size: 26px;
      font-weight: 600;
      color: #514F5D;
      text-align: center; }

.choices {
  cursor: pointer;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 400px);
  grid-template-rows: 80%;
  margin: 0 25%; }
  .choices .paper {
    background-color: #FFF;
    border: 10px solid #506AF3;
    padding: 1.6rem;
    height: 150px;
    width: 150px;
    background-size: cover;
    background-position: center;
    display: block;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), 10px 10px 15px rgba(0, 0, 0, 0.5), -1px -1px 30px rgba(0, 0, 0, 0.2); }
    .choices .paper:hover {
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0); }
  .choices .rock {
    margin-left: 100%;
    background-color: #FFF;
    border: 10px solid #E13E5B;
    padding: 1.6rem;
    height: 150px;
    width: 150px;
    background-size: cover;
    background-position: center;
    display: block;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), 10px 10px 15px rgba(0, 0, 0, 0.5), -1px -1px 30px rgba(0, 0, 0, 0.2); }
    .choices .rock:hover {
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0); }
  .choices .scissors {
    background-color: #FFF;
    border: 10px solid #ECA20E;
    padding: 1.6rem;
    height: 150px;
    width: 150px;
    background-size: cover;
    background-position: center;
    display: block;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), 10px 10px 15px rgba(0, 0, 0, 0.5), -1px -1px 30px rgba(0, 0, 0, 0.2); }
    .choices .scissors:hover {
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.restart-btn {
  border-radius: 5px;
  background-color: #FAFAFA;
  color: #514F5D;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 45%;
  margin-bottom: 3rem;
  padding: 10px 15px; }

.text-win {
  color: #506AF3; }

.text-lose {
  color: #E13E5B; }

.attribution {
  font-size: .875rem;
  margin-top: 10rem;
  text-align: center; }
  .attribution a {
    color: #FFF; }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5); }
  .modal .modal-content {
    background: #FFF;
    color: #4C5F7F;
    text-align: center;
    margin: 10% auto;
    width: 350px;
    border-radius: 10px;
    padding: 3rem;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: 1s; }
    .modal .modal-content h1 {
      margin-bottom: 1rem; }
    .modal .modal-content p {
      font-size: 1.2rem;
      margin-top: 1rem; }

@keyframes modalopen {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
