* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html,
body {
  background: #192346;
  background: linear-gradient(90deg, #192346 0%, #18275c 30%, #18275c 60%, #192346 90%);
  color: #FFF;
  font-size: 1.5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase; }

.box {
  display: flex;
  flex-direction: column;
  border: 5px solid #4C5F7F;
  border-radius: 20px;
  margin: 5% 25%;
  padding: 1rem; }
  .box .rock,
  .box .paper,
  .box .scissors {
    flex-grow: 1;
    display: flex;
    align-items: center;
    font-weight: 700; }
    .box .rock.rocks,
    .box .paper.rocks,
    .box .scissors.rocks {
      margin-top: 1rem; }
    .box .rock.scissors,
    .box .paper.scissors,
    .box .scissors.scissors {
      margin-bottom: 1rem; }
  .box .card-score {
    background-color: #FAFAFA;
    color: #514F5D;
    border-radius: 5px;
    padding: 25px 40px; }
    .box .card-score .score-title {
      font-size: 26px;
      font-weight: 600;
      color: #B5B8C7;
      text-align: center; }
    .box .card-score:last-child {
      margin-top: -20%;
      margin-left: auto; }
    .box .card-score .score p {
      font-size: 26px;
      font-weight: 600;
      color: #514F5D;
      text-align: center; }

.choices {
  cursor: pointer;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 400px);
  grid-template-rows: 80%;
  margin: 0 25%; }
  .choices .btn-paper {
    background-color: #FFF;
    border: 10px solid #506AF3;
    padding: 1.6rem;
    height: 150px;
    width: 150px;
    background-size: cover;
    background-position: center;
    display: block;
    border-radius: 50%; }
  .choices .btn-rock {
    margin-left: 100%;
    background-color: #FFF;
    border: 10px solid #E13E5B;
    padding: 1.6rem;
    height: 150px;
    width: 150px;
    background-size: cover;
    background-position: center;
    display: block;
    border-radius: 50%; }
  .choices .btn-scissors {
    background-color: #FFF;
    border: 10px solid #ECA20E;
    padding: 1.6rem;
    height: 150px;
    width: 150px;
    background-size: cover;
    background-position: center;
    display: block;
    border-radius: 50%; }

.restart-btn {
  border-radius: 5px;
  background-color: #FAFAFA;
  color: #514F5D;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 45%;
  margin-bottom: 3rem;
  padding: 10px 15px; }

.text-win {
  color: #506AF3; }

.text-lose {
  color: #E13E5B; }

.attribution {
  font-size: .875rem;
  margin-top: 12rem;
  text-align: center; }
