$white: #FFF;
$blue-bg: #192346;

//Main Button Colors
$yellow: #ECA20E;
$blue: #506AF3;
$red: #E13E5B;

//Hue Blue border
$blue-border: #4C5F7F;

//Score Card Color 
$card-score-bg: #FAFAFA;
$score-text: #514F5D;

$font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

html, 
body {
  background-color:  $blue-bg;
  color: $white;
  font-size: 1.5rem;
  font-family: $font;
  margin: 0 auto;
  text-transform: uppercase;
}

.box {
    display: flex;
    flex-direction: column;

    border: 5px solid $blue-border;
    border-radius: 25px;
    margin: 3% 25%;
    padding: 1.5rem;

    .rock, .paper, .scissors {
      flex-grow: 1;
      display: flex; 
      align-items:center;
      font-weight: 700;
    }

  .card-score {
    background-color: $card-score-bg;
    color: $score-text;
    border-radius: 5px;
    padding: 5px 20px;

    .score {
      font-weight: 700;
      text-align: center;
    }
  
    &:last-child {
      margin-top: -15%;
      margin-left: auto;
    }
  }
}

.buttons {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 400px);
  grid-template-rows: 80%;
  margin: 0 25%;
  
  .paper-btn {

    .icon-paper {
      background-color: $white;
      border: 10px solid $blue;
      margin: 0.5rem;
      padding: 0.5rem;
    
      height: 100px;
      width: 100px;

      background-size: cover;
      background-position: center;
      display: block;
      border-radius: 70px;
    }
  }
  .rock-btn {
    padding: 10px;
    margin-left: 100%;
    .icon-rock {
      background-color: $white;
      border: 10px solid $red;
      margin: 0.5rem;
      padding: 0.5rem;
      
      height: 100px;
      width: 100px;

      background-size: cover;
      background-position: center;
      display: block;
      border-radius: 70px;
    } 
  }
  .scissors-btn {
      padding: 10px;
    .icon-scissors {
      background-color: $white;
      border: 10px solid $yellow;
      margin: 0.5rem;
      padding: 0.5rem;

      height: 100px;
      width: 100px;

      background-size: cover;
      background-position: center;
      display: block;
      border-radius: 70px;
    }
  }
}

.attribution {
  font-size: .875rem;
  margin-top: 12rem;
  text-align: center;
}

