$white: #FFF;
$blue-bg: #192346;

//Main Button Colors
$yellow: #ECA20E;
$blue: #506AF3;
$red: #E13E5B;

//Hue Blue border
$blue-border: #4C5F7F;

//Score Card Color 
$card-score-bg: #FAFAFA;
$score-text: #514F5D;
$score-number: #B5B8C7;

$font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, 
body {
  background: $blue-bg;
  background: linear-gradient(90deg, rgba(25,35,70,1) 0%, rgba(24,39,92,1) 30%, rgba(24,39,92,1) 60%, rgba(25,35,70,1) 90%);
  color: $white;
  font-size: 1.5rem;
  font-family: $font;
  text-transform: uppercase;
}

.box {
    display: flex;
    flex-direction: column;

    border: 5px solid $blue-border;
    border-radius: 20px;
    margin: 5% 25%;
    padding: 1rem;

    .rock, 
    .paper, 
    .scissors {
      flex-grow: 1;
      display: flex; 
      align-items:center;
      font-weight: 700;
      &.rocks{
        margin-top: 1rem;
      }
      &.scissors {
        margin-bottom: 1rem;
      }
    }

  .card-score {
    background-color: $card-score-bg;
    color: $score-text;
    border-radius: 5px;
    padding: 25px 40px;

    .score-title {
      font-size: 16px;
      h4 {
        font-weight: 400;
        color: $score-number;
      }
    }

    .score {
      font-weight: 700;
      text-align: center;
    }
  
    &:last-child {
      margin-top: -20%;
      margin-left: auto;
    }
  }
}

.choices {
  cursor: pointer;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 400px);
  grid-template-rows: 80%;
  margin: 0 25%;
  
  .paper-btn {
    background-color: $white;
    border: 10px solid $blue;
    padding: 1.6rem;

    height: 150px;
    width: 150px;
  
    background-size: cover;
    background-position: center;
    display: block;
    border-radius: 50%;

    .icon-paper {
  
    }
  }
  .rock-btn {
    margin-left: 100%;
    background-color: $white;
    border: 10px solid $red;
    padding: 1.6rem;

    height: 150px;
    width: 150px;

    background-size: cover;
    background-position: center;
    display: block;
    border-radius: 50%;

    .icon-rock {
      
    } 
  }
  .scissors-btn {
    background-color: $white;
    border: 10px solid $yellow;
    padding: 1.6rem;

    height: 150px;
    width: 150px;

    background-size: cover;
    background-position: center;
    display: block;
    border-radius: 50%;
    .icon-scissors {
    
    }
  }
}

.text-win {
  color: $blue;
}

.text-lose {
  color: $red;
}

.attribution {
  font-size: .875rem;
  margin-top: 12rem;
  text-align: center;
}

